h1 {
  margin-bottom: 20px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itm {
  margin: 10px;
  width: calc(100% / 10 - 20px);
  height: auto;
}
.itm img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 50%;
}
.info {
  margin-top: 10px;
}
.info span {
  display: block;
  margin-bottom: 10px;
}
.info button {
  display: block;
  padding: 5px 10px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}
.info button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 1);
}
button.unfollow {
  background-color: rgba(255, 255, 255, 1);
}
button.follow {
  background-color: rgba(255, 255, 255, 0.5);
}

.pagination {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
}
.pagination li {
  margin: 0 10px;
}
.pagination li:not(:last-child):nth-child(n + 6) {
  display: none;
}
.pagination li.active {
  background-color: fuchsia;
}
.pagination li {
  display: block;
  cursor: pointer;
  background-color: #333646;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}
.pagination li:hover {
  color: #333646;
  background-color: #fff;
}
