* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282a34;
}
.main {
  background-color: #3c4051;
  border-radius: 25px;
  margin: 5px 5px 5px 0;
  padding: 10px;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: calc(100vh - 10px);
  overflow: auto;
  color: rgba(255, 255, 255, 1);
}

.container {
  max-width: 1066px;
  padding: 0 15px;
  margin: 0 auto;
}

picture img {
  min-width: 100%;
  height: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  height: 40vmin;
  pointer-events: none;
}
.link {
  color: #61dafb;
}

.title {
  margin: 10px 0 30px;
}
